
body,
html {

    overflow-x:hidden;
    background-color: #F5F5F5;

}
.table-head{
    background-color: #F5F5F5;

    height: 40px;
    padding-left: 0px;
    padding-right: 0px;

}
.table-view{
    background-color: #ffffff;
}
.table-head-title{
    color: #b1b1b1;
    line-height: 40px;


}
.user-avatar{
    margin-top: 8px;
    height: 64px;
    border-radius: 50%;
    margin-right: 0px;
}
.row-line{
    background-color: #F5F5F5;

    height: 1px;

    width: 100%;
}



.table-row-m{
    padding-left: 0px;
    padding-right: 0px;
    height: 80px;
}
.row-title-m{
    color: gray;
    margin-left: 0px;
    line-height: 80px;
    text-align: left;
}




.table-row-s{
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.row-title-s{
    color: gray;
    margin-left: 0px;
    line-height: 50px;
    text-align: left;

}

.vip-button{
    color: #8a6d3b;
    background-image: linear-gradient(to right,#ffe6b9,#e2c695);
    width: 140px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    margin-top: 7px;
    border-radius: 18px;
    font-weight: bold;
}

.row-input{
    height: 50px;
    line-height: 30px;
    text-align: right;
    color:darkgray;
    border:none;
    border:0;
    outline: none;
}
.row-text{
    height: 50px;
    line-height: 50px;
    text-align: right;
    color:darkgray;
    border:none;
    border:0;
    outline: none;
}

.row-select{
    height: 50px;
    line-height: 30px;
    text-align: right;
    color:darkgray;
    border:none;
    border:0;
    outline: none;
    background-color: transparent;
}

.row-icon{
    margin-top: 9px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    color:lightgray;
    border:none;
    border:0;
    outline: none;
}

.table-button{
    height: 40px;
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: darkred;
    color: darkred;
}